body{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
}

.flex-start{align-items: flex-start;}
.flex-start li{
    background: coral;
    color: white;

}

.flex-end{align-items: flex-end;}
.flex-end li{background-color: purple;}

.center{align-items: center;}
.center li{
    background: grey;
    border: black 1px solid;
}

.stetch{align-items: stretch;}
.stretch li{
    background: cornsilk;
    color: black;
}

.baseline{align-items: baseline;}
.baseline li{
    background: blue;
    color: white;
}

.flex-item{
    padding: 5px;
    margin: 5px;
    width: 50px;

    line-height: 50px;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
}